* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.topnav {
    position: relative;
    overflow: hidden;
}

.logo img {
    position: absolute;
    width: 282px;
    height: 86px;
    left: 14px;
    top: 5px;
}

.topnav a {
    float: right;
    color: black;
    text-align: right;
    padding: 25px 35px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav a.active {
    color: #B48C00;
    font-weight: 600;
}

a:hover {
    color: #B48C00;
    font-weight: 600;
}

.search-input {
    position: absolute;
    left: 1100px;
    top: 90px;
    height: 30px;
    width: 304px;
    border: none;
    padding: 0.8em;
    border-radius: 1em 0em 0em 1em;
    background: #E5E5E5;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: solid #E0D8B0;
}
.search-input:focus {
    outline: solid #FFC700;
}

.srch-btn {
    position: absolute;
    left: 1433px;
    top: 90px;
    width: 45px;
    height: 53.7px;
    border: none;
    padding: 1em;
    border-radius: 0em 1em 1em 0em;
    background: #E5E5E5 url("images/search.svg") no-repeat right 0.8em center;
    outline: solid #E0D8B0;
    cursor: pointer;
}

.srch-btn:hover {
    outline: solid #FFC700;
    background: #FFC700 url("images/search.svg") no-repeat right 0.8em center;
}

.landing {
    position: absolute;
    width: 500px;
    height: 50px;
}

.landingbg {
    position: absolute;
    width: 505px;
    height: 379px;
    left: 485px;
    top: 200px;
}

.landing p {
    position: absolute;
    width: 501px;
    height: 314px;
    left: 80px;
    top: 50px;
    font-weight: 500;
    font-size: 70px;
    line-height: 105px;
    color: #000000;
}

.btn1, .btn2 {
    position: absolute;
    width: 435px;
    height: 50px;
    left: 80px;
    top: 590px;
    border: none;
    padding: 0.6em;
    background: #fff;
    border-radius: 1em;
    color:#B48C00;
    font-size: 20px;
    transition: background .3s;
    cursor: pointer;
    outline: solid #B48C00;
}

.btn2 {
    left: 550px;
    background: linear-gradient(90deg, #FFC700, #B48C00);
    border-radius: 1em;
    color:#fff;
    outline: none;
}

.rightpanel {
    position: absolute;
    left: 1100px;
    top: 175px;
}

.about, .popular {
    width: 335px;
    height: 520px;
    padding: 20px;
    border-radius: 20px;
    outline: solid #D9C680;
    outline-width: 5px;
}

.aboutus, .popularblogs {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #B48C00;
}

.about img {
    display: block;
    margin: auto;
    width: 156px;
    height: 48px;
}

.aboutdes {
    position: absolute;
    margin-right: 1.5em;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}

.btn-read {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 233px;
    top: 510px;
    border: none;
    padding: 0.1em;
    background: linear-gradient(90deg, #FFC700, #B48C00);
    border-radius: 1em;
    color:#fff;
    font-size: 20px;
    transition: background .3s;
    cursor: pointer;
}

.popular {
    position: relative;
    top: 50px;
    height: 740px;
}

.popular1, .popular2, .popular3 {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: auto;
    padding: 1em;
    width: 317px;
    height: 200px;
    top: 20px;
    background: rgba(180, 140, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.popular2 {
    top: 30px;
}

.popular3 {
    top: 40px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: black;
}

.author {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.long {
    position: absolute;
    width: 285px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}
.short {
    position: absolute;
    width: 180px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.popular2 img {
    position: absolute;
    left: 63%;
    top: 45%;
}

.popular3 img {
    position: absolute;
    left: 70%;
    top: 55%;
}

.morebtn {
    position: relative;
    left: 8px;
    top: 60px;
    width: 317px;
    height: 40px;
    border: none;
    padding: 0.1em;
    background: linear-gradient(90deg, #FFC700, #B48C00);
    border-radius: 1em;
    color:#fff;
    font-size: 20px;
    transition: background .3s;
    cursor: pointer;
}

.socials {
    position: absolute;
    display: block;
    margin: auto;
    width: 375px;
    height: 240px;
    top: 1400px;
    padding-top: 1em;
}

.socials img {
    width: 50px;
    display: block;
    margin: auto;
    text-align: right;
    padding-top: 1em;
    cursor: pointer;

}

.follow {
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #B48C00;
}

.article p {
    position: absolute;
    width: 295px;
    height: 54px;
    left: 80px;
    top: 750px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: black;
}

.blog1, .blog2 {
    position: relative;
    width: 900px;
    height: 456px;
    left: 80px;
    top: 760px;
    border: none;
    border-radius: 20px;
    outline: solid #D9C680;
    outline-width: 5px;
}

.categories, .user-info, .quote, .description {
    position: absolute;
    width: 209px;
    height: 36px;
    left: 30px;
    top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B48C00;
}

.blog1 h3 {
    position: absolute;
    width: 472px;
    height: 36px;
    top: 65px;
    left: 25px;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    color: black;
}

.user-info {
    width: 263px;
    height: 22px;
    left: 43px;
    top: 105px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.quote {
    width: 500px;
    height: 58px;
    left: 40px;
    top: 150px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.description {
    width: 500px;
    height: 182px;
    left: 40px;
    top: 210px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}

.img1 {
    position: absolute;
    width: 270px;
    height: 310px;
    left: 580px;
    top: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.reactions, .reactions2 {
    position: absolute;
    width: 319px;
    height: 55px;
    left: 5px;
    top: 400px;  
}

.btn-read2, .btn-read3 {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 760px;
    top: 405px;
    border: none;
    padding: 0.1em;
    background: linear-gradient(90deg, #FFC700, #B48C00);
    border-radius: 1em;
    color:#fff;
    font-size: 20px;
    transition: background .3s;
    cursor: pointer;
}

.blog2 {
    height: 490px;
    top: 800px;
}

.categories2, .user-info2, .description2 {
    position: absolute;
    width: 209px;
    height: 36px;
    left: 30px;
    top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B48C00;
}

.blog2 h3 {
    position: absolute;
    width: 273px;
    height: 36px;
    top: 65px;
    left: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    color: black;
}

.user-info2 {
    width: 263px;
    height: 22px;
    left: 43px;
    top: 105px;
    font-weight: 400px;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.description2 {
    width: 420px;
    height: 182px;
    left: 40px;
    top: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
}

.b2img1 {
    position: absolute;
    width: 403px;
    height: 227px;
    left: 480px;
    top: 65px;
}

.b2img2, .b2img3, .b2img4 {
    position: absolute;
    width: 118px;
    height: 118px;
    left: 480px;
    top: 300px;
}

.b2img3 {
    left: 623px;
}

.b2img4 {
    left: 765px;
}

.reactions2 {
    top: 435px;  
}

.btn-read3 {
    top: 440px;
}

.btn1:hover {
    background: linear-gradient(90deg, #FFC700, #B48C00);
    color: #fff;
    outline: none;
}

.btn2:hover, .morebtn:hover, .btn-read:hover, .btn-read2:hover, .btn-read3:hover {
    background: #FFC700;
    color: black;
    outline: none;
}

.popular1:hover, .popular2:hover, .popular3:hover {
    background: white;
    outline: solid #B48C00;
}

.footer {
    position: absolute;
    bottom: 0;
    top: 1900px;
    width: 100%;
    height: 250px;
    padding-top: 3em;
    color: black;
    background-color: #D9C680;
    text-align: center;
    letter-spacing: 1.5px;
}