* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*BACKGROUND*/
html {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/*LOGO*/
.logo img {
    position: relative;
    width: 280px;
    height: 100px;
    left: 1em;
    top: 1em;
}

/*DASHBOARD TEXT*/
.dashboard {
    margin: 0% auto 0% auto;
    color: #B84823;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-shadow: 3px 1px 1px rgba(253, 178, 70, 1);
}

.container {
    display: flex;
    margin-top: 1%;
}

/**************************** LEFT-COLUMN ****************************/
.left-column {
    flex: 1;
}  

.left-column:first-child {
    margin-right: 4%;
}  

.student-form {
    position: relative;
    width: max-content;
    height: max-content;
    margin-left: 4%;
    background: rgb(255, 255, 255, 0.3);
    outline: solid rgba(253, 178, 70, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stud-input {
    color: #B84823;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.3em 0.8em 0.8em 0.8em;
    text-align: center;
}

#studNum, #lName, #fName, #initial, #age, #yearSection, #course{
    height: 25px;
    width: fit-content;
    outline: solid #B84823;
    border: none;
    border-radius: 10px;
    padding: 0.2em 0 0.2em 1.3em;
}
#lName, #fName, #yearSection {
    margin-top: 4%;
    width: 100px;
}

#age {
    width: 100px;
    margin-top: 6%;
}

#initial {
    width: 70px;
    margin-top: 6%;
}

#studNum {
    margin-top: 1%;
}

#course {
    height: 33px;
    width: 400px;
    margin-top: 1%;
}

/* for icon */
#studNum {
    background: url(assets/ic_hash.svg) no-repeat;
    background-position: 4px 1px;
    background-size: 18px;
    padding-left: 2.5em;
}

#lName, #fName, #initial {
    background: url(assets/ic_person.svg) no-repeat;
    background-position: 4px 4px;
    background-size: 20px;
    padding-left: 2.5em;
}

.input-number {
    padding-left: 1em;    
}

.user-name {
    display: flex;
}

.user-asg {
    display: flex;  
}

.select-sex {
    display: flex;
}

.sex {
    display: inline;
}

.select-sex label, .sex-title, .select-sex input {
    margin-top: 5%;
    padding-right: 1em;
    padding-left: 0.2em;
    cursor: pointer;
}

.input-lname, .input-fname, .input-initial, .input-age, .input-yearSection, .select-sex, .user-course {
    padding: 1em;
}


/**************************** RIGHT-COLUMN ****************************/

/*TABLE*/
.right-column {
    margin-right: 4%;
    width: fit-content;
    height: 554.92px;
}

.tableview {
    width: max-content;
    height: 554.92px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.studentList {
    border-collapse: collapse;
    font-size: 0.7em;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.studentList thead tr {
    background-color: #B84823;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.studentList th, td {
    padding: 1em 1em;
    text-align: left;
}

.studentList tbody tr {
    border-bottom: 1px solid rgba(184, 72, 35, 0.5);
}

.studentList tbody tr:nth-of-type(even) {
    background-color: rgba(184, 72, 35, 0.1);
}

.studentList tbody tr:last-of-type {
    border-bottom: 2px solid #B84823;
}

/**************************** BUTTONS ****************************/

/* EDIT BUTTON */
.edit-btn {
    width: 70px;
    color: #ffffff;
    border: none;
    border-radius: 1em;
    padding: 0.2em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background: #E7884B;
    transition: background .3s;
    cursor: pointer;
}

/*DELETE BUTTON */
.delete-btn {
    width: 70px;
    color: #E7884B;
    font-weight: 550;
    background: none;
    border: 3px solid #E7884B;
    border-radius: 1em;
    padding: 0.1em;
    transition: border .3s;
    cursor: pointer;
}

/*ADD NEW STUDENT BUTTON*/

.form-btn {
    display: flow-root;
    padding: 2em;
}

.add-btn, .cancel-btn {
    float: right;
    width: 200px;
    color: #ffffff;
    border: none;
    border-radius: 1.5em;
    padding: 1em;
    margin-top: 2em;
    background: #E7884B;
    transition: background .3s;
    cursor: pointer;
}

.cancel-btn {
    width: 100px;
    padding: 1em;
    margin-left: 3em;
    color: #B84823;
    background: white;
    outline: solid #E7884B;
}

.edit-btn:hover, .add-btn:hover {
    background: linear-gradient(90deg, #B84823, #FDB246);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.cancel-btn:hover {
    background: linear-gradient(92.16deg, #FDFDFD -2.4%, #FDB246 79.32%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color:#B84823;
    font-weight: bold;
}

.delete-btn:hover{
    border: 3px solid #B84823;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #B84823;
    font-weight: bold;
}